/* Add global styles here */
body {
    padding-top: 56px; /* Adjust for fixed navbar */
  }
  
  .container {
    margin-top: 20px;
  }
  
  .table {
    margin-top: 20px;
  }
  
  .btn {
    margin-right: 5px;
  }